{% extends "wrapper.twig" %}

{% block sidebarmenu %}
    {% include "sidebarmenu.twig" %}
{% endblock %}

{% block content %}

{% if error %}
    <div class="bg-danger">{{ error }}</div>
{% endif %}
<h3>Add a user</h3>

{% if warningDefaultUser %}
    <div class="bg-danger"><h1>WARNING you are currently connected with the default user.<br/>It will be removed when you create the first user</h1></div>
{% endif %}

<form action="{{ path('user-add') }}" method="post">

    <div class="form-group">
        <label for="username">User Name:</label>
        <input class="form-control" type="text" id="username" name="_username" placeholder="pseudonyme" required/>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="_password" placeholder="password" required/>
    </div>

    <div class="form-group">
        <label for="mail">Mail:</label>
        <input class="form-control" type="email" id="mail" name="_mail" placeholder="mail" required/>
    </div>

    <button type="submit" class="btn btn-default">Register</button>
</form>
{% endblock %}