{% include 'header.twig' %}
<div class="wrapper">
    <header class="main-header">
        <a href="{{ path('dashboard') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>O</b>X</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>O</b>asiX</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <!-- @todo: faire menu une fois logué -->
                {% block navigationhead %}{% endblock %}
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            {% block sidebarmenu %}{% endblock %}
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>{{ page_name }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">{{ page_name }}</li>
            </ol>
        </section>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </div>
    {% include 'footer-content.twig' %}
</div>
{% include 'footer.twig' %}